:root{
    --bgcolor: rgb(29, 58, 46);
    --bgcolor2: rgba(2, 23, 5, 0.793);
    --bgcolor3: rgb(91, 96, 101);
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: var(--bgcolor) ;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Utility */
li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}

/* ElementBody */
#about, #contact, #footer, #stack, header{
    width: 95vw;
    position: relative;
    margin: 20px;
    z-index: 10;
    /* height: 60vh; */
    
}
.mainBody{
    position: relative;
    border-radius: 10px;
    background-color: var(--bgcolor2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.mainBody #status{
    position: absolute;
    display: flex;
    top: 20px;
    left: 20px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color:rgba(237, 233, 233, 0.21);
    z-index: 11;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.723) ;
}
#status h2{
    color: rgb(229, 229, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mainBody #mainlogo{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid white ;
}
nav{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 11;
    
}
nav #navCtrl{
    display: none;
}
nav ul path{
    display: none;
}
nav ul{
    display: flex;
    gap: 50px;
}
.mainBody .socials{
    position: absolute;
    z-index: 11;
    bottom: 60px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mainBody .socials a svg path:hover{
    fill: var(--bgcolor3);
}
.designName{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
    position: absolute;
    bottom: 60px;
    right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* transform: rotate(90deg); */
    z-index: 11;
}
.designName span{
    width: 40px;
    height: 1.5px;
    background-color: var(--bgcolor3);
}
/* Home */
header{
    height: 95vh;
}
header article{
    position: relative;
    /* background-color: black; */
}
.headerContainer h3{
    position: absolute;
    text-align: center;
    font-size: 10rem;
    /* background-color: rgb(0, 0, 0); */
    color: rgb(194, 196, 189);
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 505;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    z-index: -1;
}
.headerContainer figure{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer figure img{
    width: 100%;
    aspect-ratio: 1/1;
    border: 10px solid white;
    border-radius: 50%;
    
}


/* Abount */
#about{
    height: 95vh;
}
.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 50px;
}
.aboutContainer figure{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: .5%;
    z-index: 1;

    /* background-color: aliceblue; */
}
.aboutContainer figure div{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    background-color: rgba(240, 248, 255, 0.7);
    height: 20%;
    width: 90%;
    z-index: -1;

}
.aboutContainer figure img{
    width: 25%;
    aspect-ratio: 1/1;
}
#middle{
    aspect-ratio: 1/1.2;
}
.aboutContainer article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.aboutContainer article span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.aboutContainer article code{
    font-family: Arial, Helvetica, sans-serif;
}
.aboutContainer figure p{
    position: absolute;
    bottom: -15%;
    color: rgba(240, 248, 255, 0.777);
    text-shadow: 5px 5px 10px rgb(119, 121, 123);
    font-size: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Stack */
#stack{
    height: 95vh;
}
.stackContainer .card figure{
    width: 100%;
    border-radius: 15px;
}
.stackContainer .card img{
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1/1;
}
.stackContainer p{
    position: absolute;
    top: 0;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.074),rgba(0, 0, 0, 0.912));
    top: 0;
}
.stackContainer .card{
    position: relative;
    width: 20%;
}
.stackContainer h3{
    position: absolute;
    bottom: -30%;
    left: -10%;
    font-size: 12rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    z-index: -1;
}
.stackContainer{
    position: relative;
    height: 50%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
/* Contact */
#contact{
    height: 95vh;
}
.contactContainer{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.contactContainer article{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 25px;
}
.contactContainer h5{
    position: absolute;
    z-index: -1;
    color: bisque;
    bottom: -25%;
    /* transform: rotate(90deg); */
    left: 5%;
    font-size: 10rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactContainer article h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: bisque;
}
.contactContainer .contactList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contactContainer .contactList span{
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: light;
}
.contactContainer .contactList code{
    color: bisque;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactContainer form{
    flex-basis:35% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: rgba(138, 124, 124, 0.342);
    padding: 30px;
}
/* .contactContainer form div p{
    
} */
.contactContainer form div input, .contactContainer form div p{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
}
.contactContainer form h4{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactContainer form div input::placeholder{
    color: rgb(177, 167, 167);
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contactContainer form div input{
    border-bottom: 1px solid antiquewhite;
}
.contactContainer form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contactContainer form .btn{
    width: 40%;
    height: 40px;
    background-color: transparent;
    outline: 0;
    border:0 ;
    cursor: pointer;
    background-color: rgba(138, 124, 124, 0.342);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 10vh;
}
footer .socials{
    display: flex;
    gap: 20px;
}

/* Mseia querry */
@media screen and (max-width:1200px) {
    .stackContainer {
        height: 450px;
    }
    .stackContainer .card{
        width: 20%;
    }
    .contactContainer article{
        flex-basis: 47%;
    }
    .contactContainer form{
        flex-basis: 40%;
    }
}
@media screen and (max-width:1100px) {
    #about, #contact, #footer, #stack, header{
        margin-inline: 1vw;
    }  
}
@media screen and (max-width:1000px) {
    .stackContainer .card figure img{
        height: 100%;
    }
    .stackContainer .card figure{
        height: 200px;
    }
    .stackContainer .card{
        width: 30%;
        height: 200px;
    }
    .contactContainer form h4{
        font-size: 2rem;
    }
    .contactContainer article h3{
        font-size: 2rem;
    }
}
@media screen and (max-width:800px) {
    .stackContainer .card{
        width: 30%;
        height:200px;
    }  
    #contact{
        height: fit-content;
    }
    .contactContainer{
        flex-direction: column;
        width: 80%;
        /* padding: 50px; */
        gap: 30px;
        padding-block: 100px;
    }
    .contactContainer article{
        flex-basis: 100%;
    }
    .contactContainer h5{
        font-size: 9rem;
        bottom: 50%;
        transform: translateY(50%);
        left: -5%;
    }
    .contactContainer form{
        flex-basis: 100%;
    }
}
@media screen and (max-width:700px) {
    #about, #contact, #footer, #stack, header{
        width: 90vw;
    }
    .headerContainer figure{
        width: 70%;
    }
    .headerContainer h3{
        font-size: 8rem;
    }
    nav ul path{
        display: block;
        font-size: 1.3rem;
        width: 50%;
    }
    nav #navCtrl.active>:last-child{
        opacity: 1;
    }
    nav #navCtrl.active>:first-child{
        opacity: 0;
    }
    nav #navCtrl{
        display: block;
        background-color:rgba(237, 233, 233, 0.21);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    nav #navCtrl >:last-child{
        position: absolute;
        display: flex;
        justify-items: center;
        align-items: center;
        opacity: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    nav ul li{
        position: relative;
    }
    nav ul li span{
        position: absolute;
        top: -50%;
        /* transform: translateY(-50%); */
        background-color: aliceblue;
        color: black;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.074);
        font-size: .7rem;
        display: none;
        
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 15px;
        height: 0;
        display: none;
        position: absolute;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
        top: 40px;
        width: 100%;
        background-color:rgba(237, 233, 233, 0.21);
        transition: height .7s ease-in-out;
        
    }
    nav>#navCtrl.active + ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .aboutContainer article span{
        width: 80%;
        font-size: 1rem;
        text-align: center;
    }
    .aboutContainer article code{
        font-size: .8rem;
    }
    .aboutContainer figure img{
        display: none;
    }
    #middle{
       display: block; 
       width: 80%;
       height: 300px;
    }
    .stackContainer h3{
        font-size: 9rem;
        left: 10%;
    }
    .stackContainer{
        flex-direction: row;
        /* justify-content: space-around; */
        width: 100%;
        margin-bottom: 60px;
    }
    .stackContainer .card figure{
        height: 100%;
    }
    .stackContainer .card{
        width: 200px;
        height:150px;
    }  
    .contactContainer{
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 30px;
        padding-block: 100px;
    }
    .contactContainer article{
        flex-basis: 100%;
    }
    .contactContainer h5{
        font-size: 7rem;
        left: 5%;
        bottom: 50%;
        transform: translateY(50%);
        /* left: -5%; */
    }
    .contactContainer form{
        flex-basis: 100%;
    }
    .mainBody .socials{
        left: 50%;
        flex-direction: row;
        transform: translateX(-50%);
        gap: 50px;
        bottom: 60px;
    }
    .designName{
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width:600px) {
    .headerContainer figure{
        width: 70%;
    }
    .headerContainer h3{
        font-size: 7rem;
    }
}
@media screen and (max-width:500px) {
    .headerContainer figure{
        width: 60%;
        margin: 20%;
        margin-left:5%;
    }
    .headerContainer h3{
        font-size: 5.5rem;
        top: 80%;
    }
    nav{
        right: 10px;
        top: 25px;
    }
    .mainBody #status{
        padding: 10px;
        font-size: .5rem;
        left: 10px;
    }
    .mainBody #mainlogo{
        width: 20px;
        border: 2px solid white;
    }
    .aboutContainer figure p{
        font-size: 8rem;
    }
    #middle{
        display: block; 
        width: 80%;
        height: 200px;
     }
     .designName{
         font-size: .6rem;
    }
     #stack{
        height: fit-content;
     }
     .stackContainer h3{
        top: 20%;
        font-size: 7rem;
     }
     .stackContainer p{
         font-size: .8rem;
     }
     .stackContainer{
         flex-direction: column;
         height: fit-content;
         padding-block: 60px;
         margin: 0;
     }
    .contactContainer article p{
        font-size: .7rem;
    }
    .contactContainer h5{
        font-size: 5rem;
        left: 1%;
        bottom: 60%;
    }
    footer{
        gap: 10px;
    }
    footer .socials{
        gap: 10px;
    }
}
@media screen and (max-width:400px) {
    .headerContainer h3{
        font-size: 4rem;
    }
    .aboutContainer figure p{
        font-size: 5rem;
    }
    .aboutContainer article span{
        font-size: .8rem;
    }
    .aboutContainer article code{
        font-size: .6rem;
    }
    .stackContainer h3{
        font-size: 5.5rem;
        left: 3%;
    }
    .contactContainer h5{
        font-size: 4rem;
        left: 1%;
    }
}
@media screen and (max-width:400px) {
}
